#container
{
	margin: 0 30px;
	background: #fff;
}

#header
{
	background: #dcb439;
	padding: 20px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #002b5b;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#content
{
	clear: left;
	padding: 20px;
}

#content h2
{
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
}

summary {
 	color:#0ACF3;
	font-size: 120%;
	font-weight: bold;
	margin-right: 2px;
}

details > p {
	margin-left: 24px;
}

img {
	max-width: 100%;
	padding: 2px;
	border: 2px;
}

#img3 {text-align:center}
#img3a {float:left;}
#img3b {float:right;}


#footer
{
	background: #dcb439;
	text-align: right;
	padding: 20px;
	height: 1%;
}